@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Mulish', sans-serif;
  box-sizing: border-box;
  position: relative;
}

a {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  &:hover {
    font-weight: 600;
    cursor: pointer;
  }
}

button{
  background-color: transparent;
  outline: none;
  border: none;
  &:hover {
    font-weight: 600;
    cursor: pointer;
  }
}

img{
  width: 100%;
  object-fit: contain;
}